*{
    text-decoration: none;
    list-style: none;
}

:root{
    --branco: #f6f8e4;
    --preto: #302c2c;
}
.menu{
    background-color: var(--preto);
    background-size:cover;
    background-position: center;;
    display: flex;
    opacity: 0 !important;
    pointer-events:none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding:3rem;
    transition: .5s ease;
    z-index: 9999;
}
.menu::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vw;
    background:url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    z-index: 99998 !important;
    opacity: 0.1;
}
.menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 99999;
}
.menu ul li a{
    /* position: absolute; */
    top:0; 
    left:0;
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
    font-size:2rem;
    text-align: center;
    text-transform: uppercase;
    transition: .5s ease;
    color: var(--branco);
}
.menu ul li a:hover{
    transform:scale(1.2);
}
.menu ul li{
    display: flex;
    max-width: 500px;
    white-space: nowrap;
    position: relative;
}
.menu ul li a::before{
    content: '';
    position: absolute;
    left:-25px;
    top:calc(50% - 2px);
    width: 5px;
    height: 5px;
    border-radius:5px;
    background:transparent;
    transition: .5s ease-in-out;
}
.menu ul li:hover a::before{
    background-color: white;
    width:2px;
    height: 100%;
    border-radius:30px;
    left:-10px;
    top: 0;
}
.toggle-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    align-items: center;
    position: absolute;
    top:calc(17px);
    right:50px;
    cursor: pointer;
    height:35px;
    width:35px;
    z-index: 99999;
}
.visible-menu{
    pointer-events: initial;
    opacity: 1 !important
}
.bar{
    position: relative;
    width:30px;
    height: 3px;
    background-color: white;
    transition:.5s ease
}
.middle-bar{
    background:transparent !important
}
.top-bar{
    position: absolute;
    transform: rotate(45deg);
    
}
.bottom-bar{
    position: absolute;
    transform: rotate(-45deg);
    
}
.toggle_icon{
    background:#ffffff22;
    border-radius:100%;
    width:50px;
    height: 50px;;
}
.header{
    position:absolute;
    transition:.2s ease;
}
.sticky-header{
    position:fixed;
    width:100%;
    top: 0;
    transition:0s;
}