* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e tipografia */
body {
    font-family: Helvetica;
    line-height: 1.6;
    color: #f6f8e4;
    background-color: #302c2c;
    transition: background-color 0.3s, color 0.3s;
}

/* Rodapé */
footer {
  background-color: #302c2c;
  color: #f6f8e4;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  font-size: 0.8em;
}

/*------------ESTILIZAÇÃO CLASSES GLOBAIS-----------------*/

.titulo{
  font-size: 2.5em;
  font-weight: bold;
}

.subtitulo{
  font-size: 1.8em;
  font-weight: bold;
}

.tituloterciario{
  font-size: 1.3em;
  font-weight: bold;
}

.legenda{
  font-size: 0.9em;
  text-align: center;
}

.conteudoparagrafo{
  font-size: 1.2em;
}

.link{
  color: #BCB7C6;
  font-weight: bold;
}

.link:hover{
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.5); 
  cursor: pointer;
}

.listaconteudo li{
  list-style-type: disc;
  font-size: 1.2em;
  margin-left: 25px;
}

.quebralinha{
  margin: 20px 0;
  height: 2px;
}


/*---------------INDEX---------------*/

/* Sessão principal */

.index-principal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}

.index-esquerda{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-direita{
  flex: 1;
}

/* Sessão Adicional (embaixo da index) */
.index-adicional {
    margin: 20px;
}

.adicional-bloco {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.bloco-conteudo, .bloco-texto {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagem {
    width: 100%;
    max-width: 700px;
    align-self: center;
}

#igreja_index{
  width: 100%;
  max-width: 900px;
  align-self: center;
}

/* ----------RESPONSIVIDADE PÁGINA INDEX------------- */

@media (max-width: 1024px) {
  .index-principal {
    flex-direction: column;
    padding: 20px;
  }

  .index-esquerda,
  .index-direita {
    flex: none;
    width: 100%;
    padding: 10px;
  }

  .index-esquerda {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .index-principal {
    flex-direction: column;
    padding: 15px;
  }

  .titulo {
    font-size: 2em;
  }

  .subtitulo {
    font-size: 1.5em;
  }

  .tituloterciario {
    font-size: 1.1em;
  }

  .conteudoparagrafo {
    font-size: 1em;
  }

  .listaconteudo li {
    font-size: 1em;
  }

  /* Responsividade para index-adicional */
  .index-bloco {
    flex-direction: column;
    gap: 20px;
  }

  .bloco-conteudo, .bloco-texto {
    flex: 1 1 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .index-principal {
    flex-direction: column;
    padding: 10px;
  }

  .titulo {
    font-size: 1.8em;
  }

  .subtitulo {
    font-size: 1.4em;
  }

  .tituloterciario {
    font-size: 1em;
  }

  .conteudoparagrafo {
    font-size: 0.9em;
  }

  .listaconteudo li {
    font-size: 0.9em;
  }

  /* Responsividade para index-adicional */
  .index-bloco {
    flex-direction: column;
    gap: 15px;
  }

  .bloco-conteudo, .bloco-texto {
    flex: 1 1 100%;
    text-align: center;
  }
}

/* ------------------- ESTRUTURA Páginas de info -------------------------- */

.body-info {
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #302c2c;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
  }

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    min-height: calc(100vh - 150px);
    margin: 50px auto;
    overflow: hidden;
  }
  
  .header-info {
    background-color: #32523C;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .content-info {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #302c2c;
    background-color: #BCB7C6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  .content-info h2 {
    margin-top: 0;
  }
  .content-info h3 {
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin: 10px 0 5px;
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    font-size: 14px;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  button {
    background-color: #32523C;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: #444;
  }

 /* ------------- ESTRUTURA PÁGINAS DE ASSUNTO/CONTEUDO ------------------*/

 .body-cont {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #f6f8e4;
    background-color: #302c2c;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}
  .container-cont {
    width: 90%;
    max-width: 1200px;
    margin: 0;
  }
  
  .carrossel {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
    margin-left: 5%;
    margin-right: 5%;
}
  .content-cont {
    display: flex;
    gap: 20px;
  }
  
  /* Coluna esquerda */
  .coluna-esq-cont {
    margin-left: 5%;
    margin-right: 4%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .box-cont {
    text-align: center;
  }

  .box-cont img {
    max-width: 100%;

}
  
  /* Coluna direita */
  .coluna-dir-cont {
    flex: 2;
    background-color: #302c2c;
    padding: 20px;
  }
  
  .coluna-dir-cont h2 {
    color: #f6f8e4;
  }
  
  .coluna-dir-cont p {
    color: #f6f8e4;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* ESTILIZAÇÃO Páginas de Assunto */

  .coluna-esq-cont img{
    margin-top: 50px;
    height: 450px;
    
  }


  /* ESTILIZAÇÃO DA TABELA NA PÁGINA DE TECNOLOGIA SUSTENTAVEL */

  .sustainable-tech-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 20px 0;
    background-color: #302c2c;
    color: #f6f8e4;
}

  .sustainable-tech-table thead th {
    background-color: #32523C;
    color: #f6f8e4;
    padding: 12px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

  .sustainable-tech-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

  .sustainable-tech-table tbody tr:nth-child(even) {
    background-color: #444;
}

  .sustainable-tech-table tbody tr:hover {
    background-color: #555;
}

/* responsividade */

@media (max-width: 768px) {
  .content-cont {
    flex-direction: column;
    gap: 10px;
  }

  .carrossel img {
    width: 100%;
    height: auto;
  }

  .coluna-esq-cont, .coluna-dir-cont {
    flex: 1;
  }

  .coluna-esq-cont img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .coluna-dir-cont h1 {
    font-size: 1.8em;
  }

  .coluna-dir-cont h2 {
    font-size: 1.2em;
  }

  .coluna-dir-cont p {
    font-size: 1em;
  }

  .coluna-esq-cont img {
    height: 300px; /* Ajuste a altura da imagem em telas menores */
  }
}

.ancora-espaco{
  position: relative;
  top:-100px;
  height: 0;
  visibility: hidden;
}
